.user {
    display: flex;
    align-items: center;
}

.user__image {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
}

.user__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200px, -200px);
    width: 400px;
    height: 400px;
    background-color: white;
    cursor: default;
}

.user__icon-btn {
    background: transparent;
    padding: 0;
    border: none;
    margin-bottom: -0.4em;
    margin-left: 10px;
    transition: 0.2s;
}

.user__icon-btn:hover {
    color: #cccccc;
}